<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>layout</key>
			<dict>
				<key>viewStyleIdentifier</key>
				<string>scrollViewType</string>
				<key>viewType</key>
				<string>UIView</string>
				<key>leftPadding</key>
				<integer>0</integer>
				<key>rightPadding</key>
				<integer>0</integer>
				<key>horizontallyAlignment</key>
				<string>leftRight</string>
				<key>width</key>
				<string>1p</string>
				<key>topPadding</key>
				<integer>0</integer>
				<key>bottomPadding</key>
				<integer>0</integer>
				<key>verticalAlignment</key>
				<string>topHeight</string>
				<key>height</key>
				<string>44</string>
				<key>autolayoutHeight</key>
				<true/>
				<key>layoutDirection</key>
				<string>horizontally</string>
				<key>subviews</key>
				<array>
					<dict>
						<key>layout</key>
						<dict>
							<key>viewType</key>
							<string>UIView</string>
							<key>leftPadding</key>
							<integer>12</integer>
							<key>rightPadding</key>
							<integer>0</integer>
							<key>horizontallyAlignment</key>
							<string>leftRight</string>
							<key>width</key>
							<string>1p</string>
							<key>topPadding</key>
							<integer>0</integer>
							<key>bottomPadding</key>
							<integer>0</integer>
							<key>verticalAlignment</key>
							<string>topHeight</string>
							<key>height</key>
							<string>44</string>
							<key>layoutDirection</key>
							<string>vertical</string>
							<key>subviews</key>
							<array>
								<dict>
									<key>layout</key>
									<dict>
										<key>viewType</key>
										<string>UILabel</string>
										<key>leftPadding</key>
										<integer>0</integer>
										<key>rightPadding</key>
										<integer>0</integer>
										<key>horizontallyAlignment</key>
										<string>leftWidth</string>
										<key>width</key>
										<string>0.28P</string>
										<key>topPadding</key>
										<integer>0</integer>
										<key>bottomPadding</key>
										<integer>0</integer>
										<key>verticalAlignment</key>
										<string>topHeight</string>
										<key>height</key>
										<string>44</string>
									</dict>
									<key>model</key>
									<dict>
										<key>title</key>
										<string>资质类型</string>
										<key>titleColor</key>
										<string>#800000</string>
									</dict>
								</dict>
								<dict>
									<key>layout</key>
									<dict>
										<key>viewType</key>
										<string>UIScrollView</string>
										<key>leftPadding</key>
										<integer>0</integer>
										<key>rightPadding</key>
										<integer>0</integer>
										<key>horizontallyAlignment</key>
										<string>leftWidth</string>
										<key>width</key>
										<string>0.72p</string>
										<key>topPadding</key>
										<integer>0</integer>
										<key>bottomPadding</key>
										<integer>0</integer>
										<key>verticalAlignment</key>
										<string>topHeight</string>
										<key>height</key>
										<string>44</string>
										<key>subviews</key>
										<array>
											<dict>
												<key>layout</key>
												<dict>
													<key>viewType</key>
													<string>UIButton</string>
													<key>leftPadding</key>
													<integer>10</integer>
													<key>rightPadding</key>
													<integer>0</integer>
													<key>horizontallyAlignment</key>
													<string>leftWidth</string>
													<key>width</key>
													<string>0</string>
													<key>topPadding</key>
													<integer>0</integer>
													<key>bottomPadding</key>
													<integer>0</integer>
													<key>verticalAlignment</key>
													<string>center</string>
													<key>height</key>
													<string>24</string>
												</dict>
												<key>model</key>
												<dict>
													<key>backgroundColor</key>
													<string>#FFE4E1</string>
													<key>title</key>
													<string>◉营业执照</string>
													<key>idDescription</key>
													<string>UIScrollView_button_1</string>
												</dict>
											</dict>
											<dict>
												<key>layout</key>
												<dict>
													<key>viewType</key>
													<string>UIButton</string>
													<key>leftPadding</key>
													<integer>0</integer>
													<key>rightPadding</key>
													<integer>0</integer>
													<key>horizontallyAlignment</key>
													<string>leftWidth</string>
													<key>width</key>
													<string>0</string>
													<key>topPadding</key>
													<integer>0</integer>
													<key>bottomPadding</key>
													<integer>0</integer>
													<key>verticalAlignment</key>
													<string>topHeight</string>
													<key>height</key>
													<string>0</string>
												</dict>
												<key>model</key>
												<dict>
													<key>title</key>
													<string>〇品牌授权书</string>
													<key>idDescription</key>
													<string>UIScrollView_button_2</string>
												</dict>
											</dict>
											<dict>
												<key>layout</key>
												<dict>
													<key>viewType</key>
													<string>UIButton</string>
													<key>leftPadding</key>
													<integer>10</integer>
													<key>rightPadding</key>
													<integer>0</integer>
													<key>horizontallyAlignment</key>
													<string>leftWidth</string>
													<key>width</key>
													<string>0</string>
													<key>topPadding</key>
													<integer>0</integer>
													<key>bottomPadding</key>
													<integer>0</integer>
													<key>verticalAlignment</key>
													<string>topHeight</string>
													<key>height</key>
													<string>44</string>
												</dict>
												<key>model</key>
												<dict>
													<key>title</key>
													<string>〇纳税资质</string>
													<key>idDescription</key>
													<string>UIScrollView_button_3</string>
												</dict>
											</dict>
											<dict>
												<key>layout</key>
												<dict>
													<key>viewType</key>
													<string>UIButton</string>
													<key>leftPadding</key>
													<integer>10</integer>
													<key>rightPadding</key>
													<integer>0</integer>
													<key>horizontallyAlignment</key>
													<string>leftWidth</string>
													<key>width</key>
													<string>0</string>
													<key>topPadding</key>
													<integer>0</integer>
													<key>bottomPadding</key>
													<integer>0</integer>
													<key>verticalAlignment</key>
													<string>topHeight</string>
													<key>height</key>
													<string>44</string>
												</dict>
												<key>model</key>
												<dict>
													<key>title</key>
													<string>〇店头照</string>
													<key>idDescription</key>
													<string>UIScrollView_button_4</string>
												</dict>
											</dict>
											<dict>
												<key>layout</key>
												<dict>
													<key>viewType</key>
													<string>UIButton</string>
													<key>leftPadding</key>
													<integer>10</integer>
													<key>rightPadding</key>
													<integer>0</integer>
													<key>horizontallyAlignment</key>
													<string>leftWidth</string>
													<key>width</key>
													<string>0</string>
													<key>topPadding</key>
													<integer>0</integer>
													<key>bottomPadding</key>
													<integer>0</integer>
													<key>verticalAlignment</key>
													<string>topHeight</string>
													<key>height</key>
													<string>44</string>
												</dict>
												<key>model</key>
												<dict>
													<key>title</key>
													<string>〇身份证</string>
													<key>idDescription</key>
													<string>UIScrollView_button_5</string>
												</dict>
											</dict>
										</array>
									</dict>
									<key>model</key>
									<dict>
										<key>backgroundColor</key>
										<string>#F5F5F5</string>
									</dict>
								</dict>
							</array>
						</dict>
						<key>model</key>
						<dict>
							<key>backgroundColor</key>
							<string>#F4A460</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>model</key>
			<dict>
				<key>titleFont</key>
				<integer>14</integer>
				<key>titleColor</key>
				<string>#000000</string>
				<key>idDescription</key>
				<string></string>
				<key>backgroundColor</key>
				<string>#00FF00</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
